.newRequestDiv{
    background-color: white;
    border-radius: 10px ;
    border: 2px solid #004669;
    display: inline-block;
    width: 100%;
}
#newRequestHeadlineText{
    vertical-align: middle;
    display: inline-flex;
    font-size: 28px;
    color: #9A0000;
}
#newRequestIcon{
    font-size: 28px;
    padding-right: 30px;
    vertical-align: middle;
    display: inline-flex;
    height: 28px;
    width: 28px;
    color: #004669;
}
.newRequestHeadline{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}
.newRequestForm{
    margin-left: 10px;

}
.newRequestInput{
    position: relative;
    width: 100%;
}
.newRequestFormLabel{
    color: #004669;
}

.newRequestFormField{
    width: 90%;
}
#requestButton{
    color: #004669;
    border: 1px solid #004669;
}
#buttonWrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 10px;
}