<div id="registerOuter">
  <div id="registerInner">
    <form (ngSubmit)="onSubmit()" #registerForm="ngForm" >
      <div class="register">
        <mat-form-field class="registerFormField">
          <mat-label class="registerFormLabel">First Name</mat-label>
          <input matNativeControl [formControl]="firstNameFormControl" [errorStateMatcher]="matcher">
          <mat-error *ngIf="firstNameFormControl.hasError('required')">
            First Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="registerFormField">
          <mat-label class="registerFormLabel">Last Name</mat-label>
          <input matNativeControl [formControl]="lastNameFormControl" [errorStateMatcher]="matcher">
          <mat-error *ngIf="lastNameFormControl.hasError('required')">
            Last Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    <div id="buttonWrapper">
      <button mat-raised-button id="registerButton" type="submit">Finish Setup!</button>
    </div>
    </form>
  </div>
</div>