<div class="marketplaceDiv">
<div class="marketplaceHeadline">
  <span><mat-icon id="marketplaceIcon">business</mat-icon></span><span id="marketplaceHeadlineText">Marketplace</span>
</div>
<ul *ngIf="marketplaceItems" class="marketplaceItemsList">
  <li *ngFor="let marketplaceItem of marketplaceItems" class="marketplaceList">
    <div *ngIf="marketplaceItems">
    <div class="marketplaceListItem" (click)="details(marketplaceItem.id)" (mouseenter)="changeCursor(true)" (mouseleave)="changeCursor(false)">
      <div class="row">
        <div class="col-md-6">
          <span class="marketplaceListSmallNormal">{{marketplaceItem.item_name}}</span>
        </div>
        <div class="col-md-5">
          <span class="marketplaceListSmallNormal listAlignRight">{{marketplaceItem.date_to | date}}</span>
        </div>
        <div class="col-md-1">
          <span *ngIf="marketplaceItem.user_id == user.id" (click)="removeItem(marketplaceItem)" class="userItemListDeleteIcon"><mat-icon id="deleteIcon">delete_outline</mat-icon></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <span class="marketplaceListSmallText">Click for Details</span>
        </div>
        <div class="col-md-5">
          <span class="marketplaceListSmallText listAlignRight">{{marketplaceItem.date_from | date}}</span>
        </div>
      </div>
    </div>
    <div class="partingLine"></div>
    </div>
    <div *ngIf="!marketplaceItems">
      <span>No Marketplace Items available </span>
    </div>
  </li>
</ul>
</div>