.marketplaceHeadline{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

}
#marketplaceIcon{
    font-size: 35px;
    padding-right: 50px;
    vertical-align: middle;
    display: inline-flex;
    height: 35px;
    width: 35px;
    color: #004669;
}
#marketplaceHeadlineText{
    vertical-align: middle;
    display: inline-flex;
    font-size: 35px;
    color: #9A0000;
}
.marketplaceDiv{
    background-color: white;
    border-radius: 10px ;
    border: 2px solid #004669;
    display: inline-block;
    width: 100%;
}
.marketplacesDiv{
    background-color: white;
    border-radius: 10px ;
    border: 2px solid #004669;
    width: 100%;
    height: 100%;
}
.marketplaceList{
    list-style: none;

}
.marketplaceItemsList{
    padding: 10px;
}
.marketplacesList{
    padding: 10px;
}
.marketplaceListSmallText{
    font-size: 12px;
}
.marketplaceListSmallNormal{
    font-size: 18px;
}
.listAlignRight{
    float: right;
}
.partingLine{
    height: 1px;
    background-color: #004669;
}