<div class="marketplaceDiv">
<div class="marketplaceHeadline">
  <span><mat-icon id="marketplaceIcon">business</mat-icon></span><span id="marketplaceHeadlineText">Marketplace</span>
</div>
<ul class="marketplaceItemsList">
  <li *ngFor="let marketplaceItem of marketplaceItems" class="marketplaceList">
    <div class="marketplaceListItem">
      <div class="row">
        <div class="col-md-6">
          <span class="marketplaceListSmallNormal">{{marketplaceItem.ITEM_NAME}}</span>
        </div>
        <div class="col-md-6">
          <span class="marketplaceListSmallNormal listAlignRight">{{marketplaceItem.DATE_TO | date}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <span class="marketplaceListSmallText">Click for Details</span>
        </div>
        <div class="col-md-6">
          <span class="marketplaceListSmallText listAlignRight">{{marketplaceItem.DATE_FROM | date}}</span>
        </div>
      </div>
    </div>
    <div class="partingLine"></div>
  </li>
</ul>
</div>