#nav{
    width:100%;
    position:relative;
    margin: 20px;

}
#nav-right{
    right: 50px;
    display: inline;
    position: absolute;
}
#nav-left{
    left: 50px;
    display: inline;
}
.logo{
    height:50px;
}
.custom-nav{
    background-color: white;

}
.navLine{
    height: 3px;
    background-color: #004669;
}
#UserIconSpan{
    padding-right: 20px;
}
.navIcons{
    color: #003854;

}
.nav-item span{
    display: inline-flex;
    vertical-align: middle;
    height: 50px;
    margin-right: 20px;
    margin-top: 20px;
}
.navIcons{
    font-size: 40px;
    height:40px;
    width: 40px;

}
#userName{
    color: #9A0000;
    font-size: 30px;
    margin-top: 10px;
}
#userNameDiv{
    padding-top:10px;
    display: inline;
    height: 100%;

}
