<div id="nav">
    <div id="nav-left">
        <a class="navBar-brand"><img alt="no Image loading" class="logo" src="{{LogoImageUrl}}"></a>
    </div>
    <div id="nav-right">
        <button mat-button (click)="messages()"><mat-icon class="navIcons">email</mat-icon></button>
        <button mat-button (click)="userSettings()"><mat-icon class="navIcons">account_circle</mat-icon></button>
        <div id="userNameDiv">
        <span *ngIf="user" id="userName">{{user.username}}</span>
        </div>
        <button (click)="logout()" mat-button><mat-icon class="navIcons">arrow_forward</mat-icon></button>
    </div>

</div>
<div class="navLine"></div>

