<div class="userSettingsDiv">
  <div class="userSettingsHeadline">
    <span><mat-icon id="userSettingsIcon">settings</mat-icon></span><span id="userSettingsHeadlineText">Hello {{user.FIRST_NAME}} {{user.NAME}}, here you can edit your User Settings</span>
  </div>

  <div class="usersettingsForm">
    <form (ngSubmit)="onSubmit()" #userSettingsForm="ngForm">
      <mat-form-field class="userSettingsFormField">
        <mat-label class="userSettingsFormLabel">Password</mat-label>
        <input matNativeControl type="password" [formControl]="passwordFormControl" [(ngModel)]="user.PASSWORD" [errorStateMatcher]="matcher">
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="userSettingsFormField">
        <mat-label class="userSettingsFormLabel">EMail</mat-label>
        <input matNativeControl [formControl]="EMailFormControl" [(ngModel)]="user.EMAIL" [errorStateMatcher]="matcher">
        <mat-error *ngIf="EMailFormControl.hasError('required')">
          Valid EMail is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="userSettingsFormField">
        <mat-label class="userSettingsFormLabel">Username</mat-label>
        <input matNativeControl [formControl]="usernameFormControl" [(ngModel)]="user.USERNAME" [errorStateMatcher]="matcher">
        <mat-error *ngIf="usernameFormControl.hasError('required')">
          Username is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="userSettingsFormField">
        <mat-label class="userSettingsFormLabel">TelNr</mat-label>
        <input matNativeControl [formControl]="TelNrFormControl" [(ngModel)]="user.TEL_NR" [errorStateMatcher]="matcher">
        <mat-error *ngIf="TelNrFormControl.hasError('required')">
          TelNr is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>
  </div>
</div>