
#lentOutIcon{
    font-size: 35px;
    padding-right: 50px;
    vertical-align: middle;
    display: inline-flex;
    height: 35px;
    width: 35px;
    color: #004669;
}
.userItemsHeadline{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

}
#lentOutHeadlineText{
    vertical-align: middle;
    display: inline-flex;
    font-size: 35px;
    color: #9A0000;
}

.userItemsDiv{
    background-color: white;
    border-radius: 10px ;
    border: 2px solid #004669;
    display: inline-block;
    width: 100%;
}
.lendOutList{
    list-style: none;

}
.userItemsList{
    padding: 10px;
}
.userItemListSmallText{
    font-size: 12px;
}
.userItemListSmallNormal{
    font-size: 18px;
}
.listAlignRight{
    float:right;
}
.partingLine{
    height: 1px;
    background-color: #004669;
}