<div class="userItemsDiv">
  <div class="userItemsHeadline">
    <span><mat-icon id="lentOutIcon">view_list</mat-icon></span><span id="lentOutHeadlineText">Lent out</span>
  </div>
  <ul  *ngIf="userItems" class="userItemsList">
    <li *ngFor="let userItem of userItems" class="lendOutList" (click)="details(userItem.id)" style="cursor: pointer">
      <div *ngIf="userItems && user && userItem.user_id === user.id">
      <div class="lentOutListItem">
        <div class="row">
          <div class="col-md-6">
            <span class="userItemListSmallNormal">{{userItem.item_name}}</span>
          </div>
          <div class="col-md-5">
            <span class="userItemListSmallNormal listAlignRight">{{userItem.date_to | date}}</span>
          </div>
          <div class="col-md-1">
            <div *ngIf="user">
              <span *ngIf="userItem && user &&  userItem.user_id == user.id" (click)="removeItem(userItem)" class="userItemListDeleteIcon"><mat-icon id="deleteIcon">delete_outline</mat-icon></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <span class="userItemListSmallText">{{userItem.borrower}}</span>
          </div>
          <div class="col-md-5">
            <span class="userItemListSmallText listAlignRight">{{userItem.date_from | date}}</span>
          </div>
        </div>
      </div>
      <div class="partingLine"></div>
      </div>
      <div *ngIf="!userItems">
        <span>No User Items lent out</span>
      </div>
    </li>

  </ul>
</div>